<div class="container">
    <h1 class="margin">Our Collections</h1>
    <div class="product_grid">
        @for (product of products; track product.id) {
        <mat-card appearance="outlined" class="product-card">
            <img mat-card-image src="../../../assets/images/{{product.image_url}}" [alt]="product.image_url">
            <mat-card-content>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>{{product.price | currency:'EUR'}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>